#body {

	background-image: url(../img/road8.jpg);
	background-position: center;
	background-size: cover;
	min-width: 760px;
	background-repeat: no-repeat;

}

body {

	font-family: 'Poppins', sans-serif;

}

#backgroundOverlay {

	height: 100%;
	background: white;

}

nav {

	position: fixed;
	z-index: 2;
	width: 100%;
	background: white;

}

nav h1 {

	text-align: center;
	font-size: 50px;
	font-weight: normal;
	padding: 15px;

}

nav ul {

	display: flex;
	justify-content: center;

}

nav ul li a {

	padding: 10px 21px;
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: 20px;

}

nav ul li a:hover {

	transition: 0.25s ease-in-out;
	background: rgba(0, 0, 0, 0.3)

} 

#container {

	width: 100%;
	position: absolute;
	overflow-y: scroll;
	display: block;
	bottom: 0;
	height: calc(100% - 100px);
	
}

strong {

	padding: 0 !important;

}

#inCenter {

	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	min-width: 760px;

}

::-webkit-scrollbar {

	background: none;
	width: 10px;

}

::-webkit-scrollbar-thumb {

	border-radius: 5px;
	background: white;	

}

section {

	width: 80%;
	margin-bottom: 20px;

}

article {

	height: 400px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

}

.articleImage {
	
	height: 100%;
	width: 50%;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	cursor: pointer;

}

.articleText {

	width: calc(50% - 20px);
	background: rgba(255,255,255,0.9);
	background-image: url(../img/readmore.png);
	background-position: bottom right;
	background-size: 150px 150px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	cursor: pointer;
	overflow: hidden;

}

.articletext h3 {

	font-size: 30px;
	text-align: center;

}

.articletext * {

	padding: 20px 30px 0px 30px;

}

.articletext p {

	font-size: 20px;

}

#articleImage1 {background-image: url(../img/car1.jpg);}
#articleImage2 {background-image: url(../img/car2.jpg);}
#articleImage3 {background-image: url(../img/car3.jpg);}
#articleImage4 {background-image: url(../img/car4.jpg);}
#articleImage5 {background-image: url(../img/car8.jpg);}
#articleImage6 {background-image: url(../img/car6.jpg);}
#articleImage7 {background-image: url(../img/car7.jpg);}

aside {

	width: calc(20% - 20px);

}

aside img {

	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);

}

#anotherContainer {

	width: 80%;
	position: absolute;
	display: block;
	bottom: 20px;
	height: calc(100% - 140px);
	left: 10%;
	background: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

#footerText h4 {

	font-size: 30px;
	margin-bottom: 20px;

}

#footerText h5 {

	font-size: 25px;
	margin: 10px 0px;

}

#advertention {

	position: relative;

}

#footerText {

	width: calc(50% - 45px);
	height: calc(100% - 30px);
	padding-right: 22.5px;
	border-right: 1px solid rgb(60,60,60);

}

#googleMaps {

	width: calc(50% - 22.5px);
	height: calc(100% - 30px);
	margin-left: -15px;

}

section a {

	color: black;
	text-decoration: none;

}